.body {
    font-style: italic;
}

.score-name-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 750px;
    margin: 0 0 0 auto;
}

.score-section {
    background-color: #ffe029;
    border-radius: 5px;
    width: 300px;
    padding: 12px 12px;
}

.username-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #e5e5e5;
    border-radius: 5px;
    width: 300px;
    padding: 12px 12px;
}

.username-section h4 {
    font-weight: bold;
    margin-bottom: 0;
}

.username-section h5 {
    margin-bottom: 0;
}

.play-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 23px;
}

.info-section {
    width: 300px;
    height: 600px;
}

.card-title {
    text-align: center;
    padding: 12px;
    background: #e5e5e5;
    margin-bottom: 0;
}

.card-body {
    background: #343a40;
    color: white;
}

.card-body i {
    font-size: 30px;
    margin-right: 8px;
}

.card-body p {
    display: flex;
    align-items: center;
}

.font-bold {
    font-weight: bold;
}

.playground-section {
    width: 750px;
    position: relative;
}

.bg-playground{
    height: 100%;
    background: #343a40;
    border-radius: 5px;
}
.position{
    position: absolute;;
    background: #385a94;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    text-align: center;
}

.position .fa-arrow-circle-up {
    margin-top: 2px;
}

.position .fa-arrow-circle-down {
    margin-top: -2px;
}

.position .fa {
    font-size: 25px;
    color: red;
}

.position p {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -3px;
    padding: 0 2px;
}

#time{
    margin-left: 10px;
}

.bg-title-img{
    text-align: center;
    padding-top: 20px;
    background-color: #ffe000;
}

.img-title{
    width: 270px;
    text-align: center;
}

.bg-footer{
    background-color: #343a40e0;
}


.points{
    position: absolute;
    background-color: #ff0000;
    text-align: center;
    color: red;
    width: 3%;
    border-radius: 50px;
    height: 25px;
}

.none{
    visibility: visible;
}


@media(max-width: 1199px){
    .bg-playground {
        margin-left: 12px;
    }

    .score-name-container {
        margin: 0 auto;
    }
    .info-section {
        height: 500px;
    }
}

@media(max-width: 991px){
    .none{
        visibility: hidden;
    }
    .info-section {
        width: 100%;
        height: unset;
    }
    .play-info-container {
        flex-direction: column-reverse;
    }
    .playground-section {
        width: 100%;
        height: 450px;
        margin-bottom: 12px;
    }
    .bg-playground {
        margin-left: 0;
    }
}

@media(max-width: 768px){

    .playground-section {
        height: 400px;
    }

    .score-section {
        margin-bottom: 8px;
    }

    .score-section h5 {
        margin-bottom: 2px;
    }

    .points {
        position: absolute;
        background-color: #ff0000;
        text-align: center;
        color: red;
        width: 4%;
        border-radius: 50px;
    }
    .score-name-container {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
}
@media(max-width: 470px) {
    #time{
        font-size: 32px;
        margin-left: 10px;
    }
}
@media(max-width: 400px){
    .points {
        position: absolute;
        background-color: #ff0000;
        text-align: center;
        color: red;
        width: 6%;
        border-radius: 50px;
    }
}

@media(max-width: 375px){
    #time{
        font-size: 27px;
        margin-left: 10px;
    }
}



